{{- $theme := default "dark" (.Get "theme") -}}
{{- $lang := default "tsx" (.Get "lang") -}}
{{- $code := .Get "code" -}}

{{- if not (.Page.Store.Get "has-code-playground") -}}
  {{- .Page.Store.Set "has-code-playground" true -}}
{{- end -}}

<code-playground-react
  {{ with $theme }}theme="{{ . }}"{{ end }}
  {{ with $lang }}lang="{{ . }}"{{ end }}
  {{ with $code }}code="{{ . }}"{{ end }}>
  {{- if .Inner -}}
    <script type="text/plain">{{ .Inner }}</script>
  {{- end -}}
</code-playground-react>
