<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<meta name="description" content="{{ .Description | default .Summary | default site.Params.description | truncate 160 "" }}">
<link rel="icon" href="{{ "images/favicon.ico" | relURL }}" type="image/x-icon">
<link rel="shortcut icon" href="{{ "images/favicon.ico" | relURL }}" type="image/x-icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
